* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 95%);

  font-family: 'Lexand Deca', sans-serif;
}

.container {
  max-width: 920px;
  margin: 25vh auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2.heading {
  font-size: 4rem;
  font-family: 'Big Shoulders Display', sans-serif;
  color: hsl(0, 0%, 95%);

  text-transform: uppercase;

  padding-top: 4rem;
}

p.content {
  color: hsla(0, 0%, 100%, 0.75);

  font-size: 1.5rem;
  line-height: 1.5;

  padding-top: 4rem;
  padding-bottom: 8rem;
}

.btn {
  cursor: pointer;
  max-width: 17rem;

  background-color: hsl(0, 0%, 95%);

  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
  text-transform: capitalize;

  padding: 1.5rem 1.5rem;

  border-radius: 3rem;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}
.btn-suv {
  color: hsl(184, 100%, 22%);
}
.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.card {
  padding: 5rem;
}

.card-sedan {
  background-color: hsl(31, 77%, 52%);
  border-radius: 1rem 0 0 1rem;
}
.card-suv {
  background-color: hsl(184, 100%, 22%);
}
.card-luxury {
  background-color: hsl(179, 100%, 13%);

  border-radius: 0 1rem 1rem 0;
}
